Repository mikkomakipaa/hawks-coach-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: resolve missing dom elements and build issues
  index.html
  package-lock.json
  package.json
  public/env-loader.js
Due: prettier --write

feat: add comprehensive folder browser with nested navigation
  index.html
  src/components/folder-browser.ts
  src/main.ts
  src/styles/folder-browser.css
Due: eslint --fix, prettier --write

feat: backup current horizontal chips before breadcrumb upgrade
  .eslintrc.json
  SOLUTION.md
  index.html
  src/components/file-display.ts
  src/main.ts
  src/styles/folder-browser.css
  src/types/google-apis.ts
  src/utils/search.ts
  styles-minimal.css
Due: eslint --fix, prettier --write

fix: update github actions permissions for release workflow
  .github/workflows/release.yml
Due: none

fix: update deprecated github actions to latest versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: update deprecated codeql and artifact actions in security workflow
  .github/workflows/security.yml
Due: none

fix: resolve vercel deployment mime type issue for env-loader.js
  vercel.json
Due: prettier --write

fix: add explicit build configuration to vercel.json
  vercel.json
Due: prettier --write

feat: implement service account approach for Google Drive access
  SETUP-SERVICE-ACCOUNT.md
  api/drive.js
  api/package-lock.json
  api/package.json
  dev-server.js
  index.html
  public/env-loader.js.backup
  src/main-service-account.ts
  src/main.ts
  src/services/drive-api.ts
  src/services/drive-service-account.ts
  styles-minimal.css
  test-api-direct.cjs
  test-api-local.js
  test-service-account.js
  vercel.json
  vite-api-proxy.js
  vite.config.ts
Due: eslint --fix, prettier --write

feat: optimize Google Drive performance and add loading indicators
  PERFORMANCE.md
  README.md
  api/drive.js
  index.html
  src/main-service-account.ts
  src/services/drive-service-account.ts
  styles-minimal.css
Due: eslint --fix, prettier --write

security: remove service account credentials from repository
  .gitignore
Due: none

refactor: clean up codebase and update documentation
  .env.example
  CHANGELOG.md
  DEPLOYMENT.md
  GOOGLE_CLOUD_SETUP.md
  README.md
  SECURITY.md
  SETUP-SERVICE-ACCOUNT.md
  SOLUTION.md
  VERCEL_DEPLOY.md
  debug-vercel.html
  debug.html
  dev-server.js
  lighthouserc.js
  public/env-loader.js
  public/env-loader.js.backup
  script-minimal.js
  script.js
  src/components/folder-browser.ts
  src/main-service-account.ts
  src/main.ts
  src/services/drive-api.ts
  src/services/drive-service-account.ts
  styles.css
  test-api-direct.cjs
  test-api-local.js
  test-service-account.js
Due: eslint --fix, prettier --write

fix: enhance .gitignore to prevent future credential leaks
  .gitignore
Due: none

feat: enhance CI/CD resilience and security practices
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  SECURITY-INCIDENT-REPORT.md
Due: prettier --write

docs: add comprehensive development guide with security practices
  DEVELOPMENT-GUIDE.md
Due: prettier --write

fix: resolve release-please permission issues and add setup guide
  .github/workflows/release.yml
  GITHUB-ACTIONS-SETUP.md
Due: prettier --write

fix: resolve all TypeScript compilation errors in CI
  src/main-service-account.ts
  src/services/drive-service-account.ts
  vite-api-proxy.d.ts
  vite-api-proxy.js
Due: eslint --fix, prettier --write

docs: comprehensive documentation update and fix google drive api
  .env.example
  CHANGELOG.md
  GITHUB-ACTIONS-SETUP.md
  HAWKS-DEVELOPMENT-GUIDE.md
  PERFORMANCE.md
  README.md
  api/drive.js
  package-lock.json
  package.json
Due: prettier --write

deploy: 4de00565e1cac9dae09d46dd352190b61eef1da6
  .nojekyll
  assets/hawks-6482f9af.png
  assets/index-be614b08.css
  assets/main-9dbe3a4c.js
  assets/main-9dbe3a4c.js.map
  index.html
Due: prettier --write

feat: remove download button from file actions
  src/components/file-display.ts
  src/main-service-account.ts
Due: eslint --fix, prettier --write

fix: resolve vercel deployment configuration conflict
  vercel.json
Due: prettier --write

fix: simplify vercel.json to use automatic function detection
  vercel.json
Due: prettier --write

docs: add critical ci/cd and deployment learnings to development guide
  DEVELOPMENT-GUIDE.md
Due: prettier --write

feat: optimize mobile UX and streamline file actions
  src/components/file-display.ts
  src/main-service-account.ts
  styles-minimal.css
Due: eslint --fix, prettier --write

feat: enhance scrollbar visibility and clean file display ui
  src/components/file-display.ts
  styles-minimal.css
Due: eslint --fix, prettier --write

fix: remove unused content type label method
  src/components/file-display.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,js}
  prettier --write: (any of: src/**/*.{ts,js}) or (any of: *.{html,css,md,json})
